<div class="search-bar">
    <link rel="stylesheet" href="/css/styles.css">
    <form action="/search" method="GET">
    <input class="search-input" type="text" name="query" placeholder="Search...">
    <button class="search-button" type="submit">Search</button>
    </form>
</div>